- unless @no_nav == true
  .navbar
    .navbar-inner
      %a.brand{href: "/"} Bobby
      %ul.nav
        %li.active
        - if current_user && current_user.admin?
          %li 
            = link_to 'Clients', clients_path
          %li
            = link_to 'Nouveau Client', new_item_group_path
          %li
            = link_to "Dépot notices", depot_notices_path
        - if user_signed_in?
          %li
            = link_to 'Déconnexion', destroy_user_session_path, method: :delete
        - else
          %li
            = link_to 'Connexion', new_user_session_path
