%hr/
%h1.center.inline
  = "Bobby DEPOT-VENTE"
%ul.nav.nav-pills.margin-top-20.pull-right
  %li.pull-right
    %a.brand{href: "/users/sign_in"} Log in
  / %li.pull-right.active
  /   %a.brand{href: "/"} Home
.container-narrow
  / .jumbotron
  /   %h1 Super awesome marketing speak!
  /   %p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
  / %a.btn.btn-large.btn-success{href: "#"} Sign up today
  %hr/
  .row-fluid.marketing.distance-top-30
    .span6
      #map-canvas
      
      
    .span6
      %h4 Ce Qu'on Cherche
      = "-Type de vétements/chaussures/accessoires recherché:"
      .indent-30
        = "*récent, à la mode "
      .indent-70
        = "OU"
      .indent-30
        = "*grand classique"
      %br
      =  "-Les vêtements doivent être lavés, repassés et de saison."
      %h4 Conditions
      %p 
      = "-50 % pour vous / 50% pour Bobby"
      %br
      = "-La durée des dépôts est de deux mois."
      %h4 Pour déposer:
      %p -Dépôts sans rendez-vous du mardi au samedi de 11 h à 20h (éviter l'heure du déjeuner).
      %h4 Contact
      %p 
        = "Bobby Dépôt-Vente Femme"
        %br
        = "9 rue Oberkampf"
        %br
        =  "75011"
        %hr
        
        = "01 72 38 54 83"
        %br
        = "bobbysecondhand@gmail.com"
        %hr
        =  "Mardi-Samedi 11h-20h"
        %br
        =  "Métro: Filles du Calvaire, Oberkampf, République"
        %br

      
  %hr/
  .footer
    %p © Bobby Secondhand 2013
/ /container