%hr/
= image_tag 'bobby_logo.jpg', width: '900'
/ = "Bobby DEPOT-VENTE"

%hr/
%ul.nav.nav-pills.pull-right
  %li.pull-right
    
.container-narrow
  / .jumbotron
  /   %h1 Super awesome marketing speak!
  /   %p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
  / %a.btn.btn-large.btn-success{href: "#"} Sign up today
  
  .row-fluid.marketing.distance-top-30
    .span4
      %h4 Contact
      %p 
        = "Bobby Dépôt-Vente Femme"
        %br
        = "9 rue Oberkampf"
        %br
        =  "75011"
        %br
        = "01 72 38 54 83"
        %br
        = "bobbysecondhand@gmail.com"
      #map-canvas
      %hr
      %p
        =  "Mardi-Samedi 11h - 20h"
        %br
        =  "Métro: Filles du Calvaire, Oberkampf, République"
        %br

    
    .span6.offset2
      .right-panel
        %h4 WANTED
        %p
          = "* Type de vétements/chaussures/accessoires recherché:"
          %p.indent-30
            = "*récent, à la mode "
          %p.indent-70
            = "OU"
          %p.indent-30
            = "*grand classique"
          %p
            =  "* Les vêtements doivent être lavés, repassés et de saison."
        %h4 Conditions
        %p 
          = "* 50 % pour vous / 50% pour Bobby"
          %br
          = "* La durée des dépôts est de deux mois."
          %h4 Pour déposer:
          %p 
            = "* Dépôts sans rendez-vous du mardi au samedi de 11 h à 20h (éviter l'heure du déjeuner)."
        
      
  %hr/
  .footer
    %p © Bobby Secondhand 2013
/ /container