.login
  %a.brand{href: "/"} Home
%hr/
= image_tag 'bobby_logo.jpg', width: '900'
/ = "Bobby DEPOT-VENTE"

%hr/
%ul.nav.nav-pills.pull-right
  %li.pull-right
.sign-in.distance-top-130.center-text
  %h2 Votre Email
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %div
      %br/
      = f.email_field :email, :autofocus => true
    = f.hidden_field :password, value: 'password'
    %div= f.submit "Mon Compte", class: 'btn btn-success'
  = render "devise/shared/links"